{{!< default}}

<div class="polyptich aside-on-right homepage">

<main class="site-main">

  <div class="post-feed gh-feed gh-canvas">

    <h1 class="gh-inner fancy toplevel">Strength <small>in</small> Numbers</h1>

    <h2 class="gh-inner fancy toplevel"><small>Latest</small> Stories</h2>
    {{> recent-nonissues}}

    <h2 class="gh-inner fancy toplevel"><small>Recent</small> Issues</h2>
    {{> issue-index}}
  </div>

</main>

<aside>
  <div id="sections" class="fh-box">
    {{> section-index}}
  </div>

  <div id="contributors" class="fh-box">
    <h2 class="fancy"><small>Our</small> Contributors</h2>
    {{> author-index}}
  </div>
</aside>
