<ul class="gh-canvas section-index">
  {{!-- TODO: create @custom variable for featured tags? --}}
  <li class="section-index-item">
    <a class="section-name" href="/fiction/">Fiction</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/comics/">Comics</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/film/"><em>On</em> Film</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/media/"><em>On</em> Media</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/music/"><em>On</em> Music</a>
  </li>
</ul>