<ul class="gh-canvas section-index">
  {{!-- TODO: create @custom variable for featured tags? --}}
  <li class="section-index-item">
    <a class="section-name" href="/arts/">Arts</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/politics/">Politics</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/media/">Media</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/culture/">Culture</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/world/">World</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/fiction/">Fiction</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/comics/">Comics</a>
  </li>
  <li class="section-index-item">
    <a class="section-name" href="/podcast/">Podcast</a>
  </li>
  <li class="section-index-item">
    <a class="section-name special" href="/free/"><em>Free Samples</em></a>
  </li>
</ul>