{{!< default}}

<main class="site-main">

    {{#post}}
        {{> "content" width="narrow"}}
    {{/post}}

    {{#is "post"}}
        {{#if @custom.show_related_posts}}
            {{> "related-posts"}}
        {{/if}}

        {{#has tag="issues"}}
            {{#post}}
                {{> "comments"}}
            {{/post}}
        {{/has}}
    {{/is}}

</main>