{{!< default}}

<div class="polyptich aside-on-right">

<main class="site-main">

  <div class="post-feed gh-feed gh-canvas">

    <h1 class="fancy">On Fire <small>and</small> Hard to Kill</h1>

    <h2 class="fancy"><small>Current</small> Issue</h2>
    {{> recent-nonissues}}

    <h2 class="fancy"><small>Past</small> Issues</h2>
    {{> issue-index}}
  </div>

</main>

<aside class="fh-box">
  <h2 class="fancy"><small>Our</small> Contributors</h2>
  {{> author-index}}
</aside>
