{{!< default}}

<main class="site-main">

    {{!-- temp takeover for KS launch
    <div class="post-feed gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>
    --}}

    <article class="single post no-image">
        <h2>Coming soon, with <a href="https://www.kickstarter.com/projects/thebrickhouse/flaming-hydra-60-brilliant-writers-and-artists-join-forces?ref=flaminghydra.com">your help</a></h2>
        <div style="text-align:center;">
            <p>a cooperative of 60 celebrated writers and artists</p>
            <p>joining to bring you an ingenious brief cooperatively-owned newsletter</p>
            <p>with short articles, essays, comics, commentary, and happenings </p>
            <p><a href="https://www.kickstarter.com/projects/thebrickhouse/flaming-hydra-60-brilliant-writers-and-artists-join-forces?ref=flaminghydra.com">Support our kickstarter here,</a> through the month of november, and flame on.</p>
        </div>
        <a class="button" href="https://www.kickstarter.com/projects/thebrickhouse/flaming-hydra-60-brilliant-writers-and-artists-join-forces?ref=flaminghydra.com">Let’s do this</a>
    </article>

    {{!-- temp takeover for KS launch
    {{pagination}}
    --}}

</main>