{{!< default}}

<main class="site-main">

    {{!-- temp takeover for KS launch
    <div class="post-feed gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>
    --}}

    <article class="single post no-image">
        <div style="text-align: center;">
            <h2>Coming soon, with <a href="https://www.kickstarter.com/projects/thebrickhouse/flaming-hydra-60-brilliant-writers-and-artists-join-forces?ref=flaminghydra.com">your help</a></h2>
            <p>
                a cooperative of 60 celebrated writers and artists<br/>
                joining to bring you an ingenious brief cooperatively-owned newsletter<br/>
                with short articles, essays, comics, commentary, and happenings
            </p>
            <p><a href="https://www.kickstarter.com/projects/thebrickhouse/flaming-hydra-60-brilliant-writers-and-artists-join-forces?ref=flaminghydra.com">Support our kickstarter here,</a> through the month of november, and flame on.</p>
            <a class="button" href="https://www.kickstarter.com/projects/thebrickhouse/flaming-hydra-60-brilliant-writers-and-artists-join-forces?ref=flaminghydra.com">Let’s do this</a>
        </div>
    </article>

    {{!-- temp takeover for KS launch
    {{pagination}}
    --}}

</main>