h1, h2, h3, h4, h5, h6 +
h1, h2, h3, h4, h5, h6 {
    /* allow stacked headers */
    margin-top: calc(0.5em * var(--content-spacing-multiplier, 1)) !important;
}

h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
    font-variant-caps: all-small-caps;
    color: var(--brand-color);
}

h2[id],
h4[id] {
    /* titles & authors get some capital letters */
    font-variant-caps: small-caps;
}

h3 {
    /* ledes */
    letter-spacing: 0.1em;
}
