h1, h2, h3, h4, h5, h6 +
h1, h2, h3, h4, h5, h6 {
    /* allow stacked headers */
    margin-top: calc(0.5em * var(--content-spacing-multiplier, 1)) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-variant-caps: all-small-caps;
}

h2,
h4 {
    /* titles & authors get some capital letters */
    font-variant-caps: small-caps;
}

h3 {
    /* ledes */
    letter-spacing: 0.1em;
}

.gh-content > h3:not(:first-child) {
    margin-top: calc(0.5em * var(--content-spacing-multiplier, 1));
}

.gh-content > h:not(:first-child) {
    margin-top: calc(0.5em * var(--content-spacing-multiplier, 1));
}

